<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>Atras</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->


<ion-content class="ion-padding profile-content">
  <ion-fab-button (click)="closeProfile()">
    <ion-icon name="close"></ion-icon>
  </ion-fab-button>
  <div class="profile-container" *ngIf="user">
    <div class="profile-header">
      <div class="photo-container">
        <img *ngIf="user.profilePhoto" [src]="user.profilePhoto" class="profile-img"/>
        <div *ngIf="!user.profilePhoto" class="photo-placeholder"></div>
      </div>
    </div>

    <ion-card class="profile-card">
      <ion-card-content>
        <div class="info-group">
          <div class="info-item">
            <ion-icon name="person-outline" class="info-icon"></ion-icon>
            <div class="info-content">
              <p>{{ user.fullNames }}</p>
            </div>
          </div>

          <div class="info-item">
            <ion-icon name="mail-outline" class="info-icon"></ion-icon>
            <div class="info-content">
              <p>{{ user.email }}</p>
            </div>
          </div>

          <div class="info-item">
            <ion-icon name="call-outline" class="info-icon"></ion-icon>
            <div class="info-content">
              <p>{{ user.telNumber | telephoneNumber }}</p>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-button expand="full" color="danger" (click)="logout()" class="logout-button">
      <ion-icon name="log-out-outline"></ion-icon> 
      Cerrar Sesión
    </ion-button>
  </div>

  <div class="loading-container" *ngIf="!user">
    <ion-spinner></ion-spinner>
    <p>Cargando información del usuario...</p>
  </div>
</ion-content>


