<ion-content [fullscreen]="true">
  <div class="form">
    <h1>Sign Up</h1>
    <div class="form-container">
      <form [formGroup]="form" (ngSubmit)="signUp()">

        <div class="photo-upload">
          <div class="photo-circle">
            <img *ngIf="photoPreview" [src]="photoPreview" class="profile-img"/>
            <ion-icon *ngIf="!photoPreview" name="add-outline"></ion-icon>
            <input type="file" accept="image/*" (change)="onFileSelected($event)" />
          </div>
          <span class="photo-text">Add profile photo</span>
        </div>

        <ion-item>
          <ion-label class="label" position="floating"
            >Nombre completo <ion-text color="danger">*</ion-text></ion-label
          >
          <ion-input
            required
            formControlName="fullNames"
            type="text"
          ></ion-input>
          <div *ngIf="form.controls.fullNames.invalid && form.controls.fullNames.touched">
            <small>El nombre es obligatorio</small>
          </div>
        </ion-item>

        <ion-item>
          <ion-label class="label" position="floating"
            >Email <ion-text color="danger"></ion-text></ion-label
          >
          <ion-input required formControlName="email" type="text"></ion-input>
          <div *ngIf="isEmailValid as message">
            <small>{{ message }}</small>
          </div>
        </ion-item>

        <ion-item>
          <ion-label class="label" position="floating"> 
            Numero de telefono (opcional)</ion-label>
          <ion-input formControlName="telNumber" type="text"></ion-input>
        </ion-item>

        <ion-item class="password-item">
          <ion-label class="label" position="floating"
            >Contraseña <ion-text color="danger">*</ion-text></ion-label
          >
          <ion-input
            required
            formControlName="password"
            [type]="!passwordShown ? 'password' : 'text'"
          >
            <div slot="end" class="input-icons">
              <ion-icon
                class="icon"
                slot="end"
                [color]="passwordShown ? 'black' : 'medium' "
                [name]=" passwordShown ? 'eye' : 'eye-off'"
                (click)="togglePassword()"
              ></ion-icon>
            </div>
          </ion-input>
          <div *ngIf="isPasswordValid as message">
            <small>{{ message }}</small>
          </div>
        </ion-item>

        <ion-item class="password-item">
          <ion-label class="label" position="floating"
            >Confirmar contraseña
            <ion-text color="danger">*</ion-text></ion-label
          >
          <ion-input
            required
            formControlName="confirmPassword"
            [type]="!passwordShown ? 'password' : 'text'"
          >
            <div slot="end" class="input-icons">
              <ion-icon
                class="icon"
                slot="end"
                [color]="passwordShown ? 'black' : 'medium' "
                [name]=" passwordShown ? 'eye' : 'eye-off'"
                (click)="togglePassword()"
              ></ion-icon>
            </div>
          </ion-input>
          <div *ngIf="isPasswordValid as message">
            <small>{{ message }}</small>
          </div>
        </ion-item>

        <ion-button expand="full" type="submit" [disabled]="form.invalid">
          Sing Up
        </ion-button>
      </form>
    </div>
    <hr />
    <span class="small-text log-in-redirect">
      Already have an acocount? <a routerLink="/login">Log in</a>
    </span>
  </div>
</ion-content>
